/*------------------------------
            Contact
  -----------------------------*/
#map
  width: 100%
  padding-top: 45%
  position: relative
  overflow: hidden

  iframe
    position: absolute
    width: 100%
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    min-width: 100%
    min-height: 100%


#contact
  padding: 3em 0

  h2
    font-size: 2rem
    text-align: center
    margin-bottom: .75em

  .contact-info
    margin-bottom: 3em
    text-align: center

    i
      color: $primary
      margin-right: .5em
    li
      margin-bottom: .75em
      color: #666

  form
    margin-bottom: 0
    text-align: center



/*------------------------------
            Responsive
  -----------------------------*/

//Extra small < 576px
//Small       ≥ 576px
//Medium      ≥ 768px
//Large       ≥ 992px
//Extra large ≥ 1200px

