/*------------------------------
                POSTS
  -----------------------------*/

#posts
  padding: 3em 0

.category-header

  .primary-title, .secondary-title
    color: $white
    font-weight: 400
    text-align: center

  .secondary-title
    font-size: .85rem
    margin-bottom: 0.5em
    letter-spacing: .02em
    word-spacing: .1em
    a:hover
      color: inherit
      text-decoration: underline

  .primary-title
    font-size: 3rem
    letter-spacing: .02em
    word-spacing: .1em
    margin-bottom: .1em

.category-header.no-feature-image
  padding: 2em 0 0
  margin-bottom: -1em

  .primary-title, .secondary-title
    color: $primary

  .primary-title
    font-size: 2.25rem

/*------------------------------
            Responsive
  -----------------------------*/

//Extra small < 576px
//Small       ≥ 576px
//Medium      ≥ 768px
//Large       ≥ 992px
//Extra large ≥ 1200px

@media (max-width: $lg)
  #posts
    padding: 2.5em 0


@media (max-width: $md)
  .category-header
    .primary-title
      font-size: 2rem

  .category-header.no-feature-image
    .primary-title
      font-size: 2rem


@media (max-width: $sm)
  #posts
    padding: 2em 0

