/*------------------------------
                POSTS
  -----------------------------*/

#posts
  padding: 3em 0

  .container
    padding-left: 15px
    padding-right: 15px


.category-header

  .primary-title, .secondary-title
    color: $white
    font-weight: 400
    text-align: center

  .secondary-title
    font-size: .85rem
    margin-bottom: 0.5em
    letter-spacing: .02em
    word-spacing: .1em

  .primary-title
    font-size: 3rem
    letter-spacing: .02em
    word-spacing: .1em

.category-header.no-feature-image
  padding: 3em 0 0
  .primary-title, .secondary-title
    color: $primary

/*------------------------------
            Responsive
  -----------------------------*/

//Extra small < 576px
//Small       ≥ 576px
//Medium      ≥ 768px
//Large       ≥ 992px
//Extra large ≥ 1200px

