/*------------------------------
                POST
  -----------------------------*/
.feature-area
  margin-bottom: 2em

  // applying the style only when the post has the feature image
  .feature-image + .post-info
    position: relative
    margin-top: -70px

  // posts without feature image
  .post-info
    text-align: center

    .date-wrapper
      width: 135px
      height: 135px
      margin: 0 auto 3em
      border-radius: 100%
      //background-color: rgba($highlight, .8)
      background-color: rgba($primary, .8)

      .date
        color: $white
        span
          display: block
          letter-spacing: .07em
          line-height: 120%

        .month
          font-size: 15px
          padding-top: 26px
          text-transform: uppercase
        .day
          font-size: 45px
        .year
          font-size: 15px



#post-body
  margin-bottom: 1em

  .container
    max-width: 800px

// main
#content
  .post-title
    font-size: 1.75rem
    font-weight: 400
    margin-bottom: .5em
    text-align: center

  .breadcrumb
    font-size: .75rem
    font-weight: 400
    color: $secondary
    text-transform: uppercase
    text-align: center

  .post-meta
    color: $primary

    .post-category, .post-comment
      font-size: .9rem


  .post-content
    font-size: 1rem
    letter-spacing: .03em
    color: $primary

  .post-share
    margin-bottom: 2em
    span:first-child
      font-size: 1.25rem
      font-weight: 400

    .social-icons
      display: inline-block
      vertical-align: middle


  // Authors
  .authors
    .author
      .author-image
        padding-top: 0
        width: 100px
        height: 100px
        margin: 0 auto

      .name
        font-size: 1rem
        font-weight: 600
        margin-bottom: .5em

      .bio
        font-size: .85rem
        margin-bottom:  .5em
        color: $secondary

  // custom related posts
    // no use for now
  //#related-posts
  //  .title
  //    font-size: 1.5rem
  //    font-weight: 400
  //    text-align: center
  //    text-decoration: underline
  //    margin-bottom: 1.5em
  //
  //  .post-title
  //    font-size: 1rem
  //    font-weight: 400
  //    padding: 1em 0
  //    text-align: center



// rp4wp related posts plugin
.rp4wp-related-posts
  padding-top: 2em
  h3
    font-size: 1.5rem
    font-weight: 400
    text-align: center
    text-decoration: underline
    margin-bottom: 1.5em

  ul
    display: flex
    flex-wrap: wrap
    margin-bottom: 0

    li
      @extend .card

      .rp4wp-related-post-image
        width: 100%
        padding-top: 58%
        overflow: hidden
        position: relative

        a
          position: absolute
          top: 50%
          left: 50%
          min-width: 100%
          min-height: 100%
          transform: translateX(-50%) translateY(-50%)

          img
            width: 100%

      .rp4wp-related-post-content
        font-size: .85rem
        font-weight: 400
        padding: 1em 0
        text-align: center



/*------------------------------
            Responsive
  -----------------------------*/

//Extra small < 576px
//Extra small < 576px
//Small       ≥ 576px
//Medium      ≥ 768px
//Large       ≥ 992px
//Extra large ≥ 1200px

// col-lg
@media (max-width: $lg)
  #post-body
    .container
      max-width: 620px


// col-md
@media only screen and (max-width: $md)
  .feature-area

    // applying the style only when posts have the feature image
    .feature-image + .post-info
      position: relative
      margin-top: -41px

    .post-info
      .post-title
        font-size: 1.5rem
        padding: 0 2em

      .date-wrapper
        width: 80px
        height: 80px
        margin: 0 auto 2em

        .date
          span
            letter-spacing: .05em
            line-height: 100%

          .month
            font-size: 10px
            padding-top: 13px
          .day
            font-size: 35px
          .year
            font-size: 12px

  #post-body
    .container
      max-width: 85%


// col-sm
@media (max-width: $sm)
  #post-body
    .container
      max-width: 90%
